@{
    ViewData["Title"] = "Recetario";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Recetario</h1>
        <p class="lead text-muted"></p>
        <p>
            <a href="#" class="btn btn-primary my-2">Como lo preparo?</a>
            <a href="#" class="btn btn-secondary my-2">Donde consigo los ingredientes?</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center> <img src="~/images/espaguetis-bolonesa.jpg" alt="Salmon" height="100%" width="100%"> </center>
                    <div class="card-body">
                        <p class="card-text">Ésta es una versión fácil y rápida de la salsa boloñesa italiana. Se trata de una mezcla de carne molida mixta con cebolla y puré de tomate sobre spaghetti.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center> <img src="~/images/lasagna-grande1.jpg" alt="Salmon" height="100%" width="100%"> </center>
                    <div class="card-body">
                        <p class="card-text">Deliciosa receta de lasagna vegetariana con champiñones y calabacitas. Una deliciosa alternativa a una lasaña tradicional con carne.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center> <img src="~/images/descarga.jpg" alt="Salmon" height="100%" width="100%"> </center>
                    <div class="card-body">
                        <p class="card-text">Salmón ahumado en tiras, rúcula, fresas partidas a la mitad, bulbo grande de hinojo, croutones, con aceite de oliva, vinagre de vino blanco.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center><img src="~/images/images.jpg" alt="Salmon" height="100%" width="100%"></center>
                    <div class="card-body">
                        <p class="card-text">El salmón a la naranja es una receta de las más sencillas, va acompañado de una salsa de naranja que le da un toque dulce y cítrico a la vez al salmón, por lo que resulta delicioso, además de quedar muy jugoso.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center><img src="~/images/pollo.jpg" alt="Salmon" height="100%" width="100%"></center>                    <div class="card-body">
                        <p class="card-text">Fabulosa receta para Pechugas rellenas de queso y champiñones. Acompañada de ensalada y pure de papa</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <center><img src="~/images/albondigas.jpg" alt="Salmon" height="100%" width="100%"></center>                    <div class="card-body">
                        <p class="card-text">Las albóndigas son bolitas de carne molida mezclada con otros ingredientes y condimentos. Están rellenas (casi siempre de huevo) y resultan el platillo perfecto para saborearse en familia o simplemente, para recordar el sazón de tu abuelita. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

